body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
}

a {
  text-decoration: none;
  color: #0070e0;
}
